.regular-carousel {
    .nav {
        display: grid;
        row-gap: 0.6rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "list      list"
                              "underline underline"
                              "carousel  carousel"
                              "leftArrow rightArrow";
        .nav__list {
            grid-area: list;
            position: relative;
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 0 1.5rem;
            gap: 1rem;

            .nav__list__link {
                cursor: pointer;
            }

            .nav__list__link:not(.nav__list__link--active):not(:hover) {
                opacity: 0.75;
            }
        }

        .nav__underline-container {
            grid-area: underline;
            position: relative;
            height: 0.4rem;
            margin-bottom: .8rem;
            .nav__underline {
                position: absolute;
                background-color: var(--default-text-color);
                height: 100%;
                width: 0;
                transition: all var(--default-transition-time);
            }
        }

        .fcarousel {
            grid-area: carousel;
            height: 300px;
            margin-bottom: 2.5rem;
            img {
                display: block;
                height: 100%;
            }
        }
        
        .right-button {
            grid-area: rightArrow;
        }
        
        .left-button {
            grid-area: leftArrow;
        }
        
        .right-button, .left-button {
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 5rem;
                cursor: pointer;
            }
        }
    }
}
