.regular-carousel {
    .nav {
        display: grid;
        row-gap: 0.6rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "list      list"
            "carousel  carousel"
            "leftArrow rightArrow";
        .nav__list {
            grid-area: list;
            position: relative;
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 0 1.5rem;
            gap: 1rem;
            margin-bottom: 2rem;

            .nav__list__link {
                display: block;
                cursor: pointer;
                margin-bottom: 0.4rem;
            }

            .nav__list__underline_holder, #underline {
                height: 0.4rem;
            }

            .nav__list__link:not(.nav__list__link--active):not(:hover) {
                opacity: 0.75;
            }

            #underline {
                background-color: white;
                bottom: 0;
                transition: all var(--default-transition-time);
            }
        }

        .fcarousel {
            grid-area: carousel;
            margin-bottom: 1rem;
        }

        .right-button {
            grid-area: rightArrow;
        }

        .left-button {
            grid-area: leftArrow;
        }

        .right-button, .left-button {
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 5rem;
                cursor: pointer;
            }
        }
    }

    @media screen and (min-width: $minWidthBigPhone) {
        .nav {
            grid-template-columns: repeat(3, auto);
            grid-template-areas: ".          list        ."
                                 "leftArrow carousel    rightArrow";
            justify-content: center;
            .nav__list {
                padding: 0;
            }

            .right-button, .left-button {
                svg {
                    width: 8rem;
                }
            }

            .fcarousel {
                width: 35rem;
                height: 40rem;
                margin-bottom: 0;
            }
        }
    }
}
