.side-carousel {
    .nav {
        .fcarousel {
            height: 300px;
            margin-bottom: 2.5rem;
            img {
                display: block;
                height: 100%;
            }
        }
    }
}
