:root {
    --default-transition-time: .4s;
    --default-bg-color: #555;
    --default-text-color: #fff;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  /*1 rem = 10px;*/
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--default-bg-color);
    color: var(--default-text-color);
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-container {
    margin-top: 30px;
}

.section-carousel {
    padding-top: 7rem;
}

.section-carousel:first-child
{
    padding-top: 4rem
}

.fcarousel-item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fcarousel-item:nth-child(1) {
    background-image: url('../img/king.jpg');
}

.fcarousel-item:nth-child(2) {
    background-image: url('../img/john.jpg');
}

.fcarousel-item:nth-child(3) {
    background-image: url('../img/mark.jpg');
}

.fcarousel-item:nth-child(4) {
    background-image: url('../img/beyonce.jpg');
}

.fcarousel-item:nth-child(5) {
    background-image: url('../img/lisa.jpg');
}


@media screen and (min-width: $minWidthBigPhone) {
    body {
        font-size: 1.8rem;
    }
}