:root {
    --default-transition-time: .4s;
    --bg-color: #555;
    --light-text-color: rgba(255, 255, 255, .5);
    --text-color: rgba(255, 255, 255, .75);
    --selected-text-color: #fff;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  /*1 rem = 10px;*/
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}


@media screen and (min-width: $minWidthTabletPortrait) {
    body {
        font-size: 1.8rem;
    }

    .section-carousel {
        padding-top: 17rem;
    }
}