.heading-1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem; }

@media screen and (min-width: 48rem) {
  .heading-1 {
    font-size: 4rem; } }
.section-carousel {
  padding-top: 8rem; }
  .section-carousel .heading-1 {
    margin-bottom: 4rem; }

.section-carousel:first-child {
  padding-top: 4rem; }

.fcarousel-item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.fcarousel-item:nth-child(1) {
  background-image: url("../img/king.jpg"); }

.fcarousel-item:nth-child(2) {
  background-image: url("../img/john.jpg"); }

.fcarousel-item:nth-child(3) {
  background-image: url("../img/mark.jpg"); }

.fcarousel-item:nth-child(4) {
  background-image: url("../img/beyonce.jpg"); }

@media screen and (min-width: 48rem) {
  .section-carousel {
    padding-top: 16rem; }
    .section-carousel .heading-1 {
      margin-bottom: 5.5rem; } }
:root {
  --default-transition-time: .4s;
  --default-bg-color: #555;
  --default-text-color: #fff; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*1 rem = 10px;*/ }

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  background-color: var(--default-bg-color);
  color: var(--default-text-color);
  font-size: 1.5rem; }

a {
  text-decoration: none;
  color: inherit; }

@media screen and (min-width: 48rem) {
  body {
    font-size: 1.8rem; }

  .section-carousel {
    padding-top: 17rem; } }
.regular-carousel .nav {
  display: grid;
  row-gap: 0.6rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "list      list" "carousel  carousel" "leftArrow rightArrow"; }
  .regular-carousel .nav .nav__list {
    grid-area: list;
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    gap: 1rem;
    margin-bottom: 2rem; }
    .regular-carousel .nav .nav__list .nav__list__link {
      display: block;
      cursor: pointer;
      margin-bottom: 0.4rem; }
    .regular-carousel .nav .nav__list .nav__list__underline_holder, .regular-carousel .nav .nav__list #underline {
      height: 0.4rem; }
    .regular-carousel .nav .nav__list .nav__list__link:not(.nav__list__link--active):not(:hover) {
      opacity: 0.75; }
    .regular-carousel .nav .nav__list #underline {
      background-color: white;
      bottom: 0;
      transition: all var(--default-transition-time); }
  .regular-carousel .nav .fcarousel {
    grid-area: carousel;
    height: 30rem;
    margin-bottom: 2.5rem; }
  .regular-carousel .nav .right-button {
    grid-area: rightArrow; }
  .regular-carousel .nav .left-button {
    grid-area: leftArrow; }
  .regular-carousel .nav .right-button, .regular-carousel .nav .left-button {
    display: flex;
    align-items: center;
    justify-content: center; }
    .regular-carousel .nav .right-button svg, .regular-carousel .nav .left-button svg {
      width: 5rem;
      cursor: pointer; }
@media screen and (min-width: 40rem) {
  .regular-carousel .nav {
    grid-template-columns: repeat(3, auto);
    grid-template-areas: ".          list        ." "leftArrow carousel    rightArrow";
    justify-content: center; }
    .regular-carousel .nav .nav__list {
      padding: 0; }
    .regular-carousel .nav .right-button svg, .regular-carousel .nav .left-button svg {
      width: 8rem; }
    .regular-carousel .nav .fcarousel {
      width: 35rem;
      height: 40rem; } }

.side-carousel .nav .fcarousel {
  height: 300px;
  margin-bottom: 2.5rem; }
  .side-carousel .nav .fcarousel img {
    display: block;
    height: 100%; }

/*# sourceMappingURL=styles.css.map */
